*{
    margin: 0px;
    padding: 0px;
}
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content:space-between;
    gap: 1vw;
}

.gallery img {
    object-fit:cover;
    border-style: solid;
    border-color: #83A598;
    width: 21rem;
    height: 30rem;
}
.container {
    position: relative;
    overflow: hidden;
}

.text {
  position: absolute;
  bottom:0;
  width: 100%;
  opacity:0;
  color: #928374;
  background-color: #1d2021;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem;
}

img:hover { 
    border-color: #CC241D;
    box-shadow: 2px 2px 4px 4px #CC241D;
    opacity: 0.75;
}

.container:hover .text {
  opacity: 1;
}
/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
.text {
    opacity: 1;
}

}
