{% extends "base.html" %}
{% block content%}
<link rel="stylesheet" href="anime.css">
<div class="gallery">
<div class="container"> <img src="../img/anime/Charlotte"><div class="text">Charlotte</div></div>
<div class="container"> <img src="../img/anime/Kaguya-sama: Love is War"><div class="text">Kaguya-sama: Love is War</div></div>
<div class="container"> <img src="../img/anime/Bleach"><div class="text">Bleach</div></div>
<div class="container"> <img src="../img/anime/Masamune-kun's Revenge"><div class="text">Masamune-kun's Revenge</div></div>
<div class="container"> <img src="../img/anime/The World's Finest Assassin Gets Reincarnated in Another World as an Aristocrat"><div class="text">The World's Finest Assassin Gets Reincarnated in Another World as an Aristocrat</div></div>
<div class="container"> <img src="../img/anime/Yancha Gal no Anjou san"><div class="text">Yancha Gal no Anjou san</div></div>
<div class="container"> <img src="../img/anime/Neon Genesis Evangelion"><div class="text">Neon Genesis Evangelion</div></div>
<div class="container"> <img src="../img/anime/Violet Evergarden"><div class="text">Violet Evergarden</div></div>
<div class="container"> <img src="../img/anime/Strawberry Marshmallow"><div class="text">Strawberry Marshmallow</div></div>
<div class="container"> <img src="../img/anime/Kakeguri"><div class="text">Kakeguri</div></div>
<div class="container"> <img src="../img/anime/anohana: The Flower We Saw That Day"><div class="text">anohana: The Flower We Saw That Day</div></div>
<div class="container"> <img src="../img/anime/Ooya-san wa Shishunki!"><div class="text">Ooya-san wa Shishunki!</div></div>
<div class="container"> <img src="../img/anime/Domestic Girlfriend"><div class="text">Domestic Girlfriend</div></div>
<div class="container"> <img src="../img/anime/Grand Blue Dreaming"><div class="text">Grand Blue Dreaming</div></div>
<div class="container"> <img src="../img/anime/Horimiya"><div class="text">Horimiya</div></div>
<div class="container"> <img src="../img/anime/Naruto"><div class="text">Naruto</div></div>
<div class="container"> <img src="../img/anime/Dragon Ball"><div class="text">Dragon Ball</div></div>
<div class="container"> <img src="../img/anime/Miss Kobayashi's Dragon Maid"><div class="text">Miss Kobayashi's Dragon Maid</div></div>
<div class="container"> <img src="../img/anime/Hunter x Hunter"><div class="text">Hunter x Hunter</div></div>
<div class="container"> <img src="../img/anime/Cowboy Bebop"><div class="text">Cowboy Bebop</div></div>
<div class="container"> <img src="../img/anime/Kitachi"><div class="text">Kitachi</div></div>
<div class="container"> <img src="../img/anime/Girl Friend Beta"><div class="text">Girl Friend Beta</div></div>
<div class="container"> <img src="../img/anime/Strawberry 100%"><div class="text">Strawberry 100%</div></div>
<div class="container"> <img src="../img/anime/Tokyo Ghoul √A"><div class="text">Tokyo Ghoul √A</div></div>
<div class="container"> <img src="../img/anime/The Melancholy of Haruhi Suzumiya"><div class="text">The Melancholy of Haruhi Suzumiya</div></div>
<div class="container"> <img src="../img/anime/Saekano: How to Raise a Boring Girlfriend .flat"><div class="text">Saekano: How to Raise a Boring Girlfriend </div></div>
<div class="container"> <img src="../img/anime/Re:ZERO PETIT"><div class="text">Re:ZERO PETIT</div></div>
<div class="container"> <img src="../img/anime/KonoSuba: God's Blessing on This Wonderful World!"><div class="text">KonoSuba: God's Blessing on This Wonderful World!</div></div>
<div class="container"> <img src="../img/anime/The misfit if demon academy"><div class="text">The misfit if demon academy</div></div>
<div class="container"> <img src="../img/anime/Kaguya-sama: Love is War?"><div class="text">Kaguya-sama: Love is War?</div></div>
<div class="container"> <img src="../img/anime/Death Note"><div class="text">Death Note</div></div>
<div class="container"> <img src="../img/anime/Gangsta."><div class="text">Gangsta</div></div>
<div class="container"> <img src="../img/anime/The Devil is a Part-Timer!"><div class="text">The Devil is a Part-Timer!</div></div>
<div class="container"> <img src="../img/anime/Here Comes the Black Witch!!"><div class="text">Here Comes the Black Witch!!</div></div>
<div class="container"> <img src="../img/anime/High School of the Dead"><div class="text">High School of the Dead</div></div>
<div class="container"> <img src="../img/anime/Black Lagoon"><div class="text">Black Lagoon</div></div>
<div class="container"> <img src="../img/anime/High School DxD"><div class="text">High School DxD</div></div>
<div class="container"> <img src="../img/anime/So, I Can't Play H! OVA"><div class="text">So, I Can't Play H! OVA</div></div>
<div class="container"> <img src="../img/anime/Sword Art Online"><div class="text">Sword Art Online</div></div>
<div class="container"> <img src="../img/anime/Vampire Knight"><div class="text">Vampire Knight</div></div>
<div class="container"> <img src="../img/anime/Classroom of the Elite"><div class="text">Classroom of the Elite</div></div>
<div class="container"> <img src="../img/anime/Tsukimichi -Moonlit Fantasy- 2"><div class="text">Tsukimichi -Moonlit Fantasy- 2</div></div>
<div class="container"> <img src="../img/anime/Fighting Spirit"><div class="text">Fighting Spirit</div></div>
<div class="container"> <img src="../img/anime/Code Geass: Lelouch of the Rebellion"><div class="text">Code Geass: Lelouch of the Rebellion</div></div>
<div class="container"> <img src="../img/anime/Maid Sama!"><div class="text">Maid Sama!</div></div>
</div>
{% endblock content %}
