{% extends "base.html"%}
{% block content %}
        <div id="profile">
            <div class="pic"> <img src="./img/master-chief.jpg"></div>
            <div class="pascii">
                <pre class="ascii">


 ██▀███   ▄▄▄      ▒██   ██▒▓█████  ███▄    █ 
▓██ ▒ ██▒▒████▄    ▒▒ █ █ ▒░▓█   ▀  ██ ▀█   █ 
▓██ ░▄█ ▒▒██  ▀█▄  ░░  █   ░▒███   ▓██  ▀█ ██▒
▒██▀▀█▄  ░██▄▄▄▄██  ░ █ █ ▒ ▒▓█  ▄ ▓██▒  ▐▌██▒
░██▓ ▒██▒ ▓█   ▓██▒▒██▒ ▒██▒░▒████▒▒██░   ▓██░
░ ▒▓ ░▒▓░ ▒▒   ▓▒█░▒▒ ░ ░▓ ░░░ ▒░ ░░ ▒░   ▒ ▒ 
  ░▒ ░ ▒░  ▒   ▒▒ ░░░   ░▒ ░ ░ ░  ░░ ░░   ░ ▒░
  ░░   ░   ░   ▒    ░    ░     ░      ░   ░ ░ 
   ░           ░  ░ ░    ░     ░  ░         ░ 
                </pre>
            </div>
            <div class="right"></div>
        </div>
    <h3>About Me</h3>
    <ul>
      <li><b>Name: </b>Raxen</li>
      <li><b>D.O.B: </b>N/A</li>
      <li><b>Planet: </b>Earth</li>
    </ul>
    <ul id="contact">
        <li><b>Youtube: </b><a href="https://www.youtube.com/channel/UCR-kUil7Ue6si1Je2nxWbcg/channels">RaxenGamer001</a></li>
        <li><b>Reddit: </b><a href="https://www.reddit.com/user/raxengamer001">u/raxengamer001</a></li>
        <li><b>Maill: </b><a href="mailto:raxengmaer001@gmail.com">raxengamer001@gmail.com</a></li>
        <li><b>Discord: </b>RaxenGamer001#8430</li>
        <li><b>Matrix: </b>@raxengamer001:matrix.org</li>
    </ul>
{% endblock content %}
</html>
